.accessories-kids-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff8f0;
}

.accessories-kids-container h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #2c2c2c;
}

.kids-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.accessories-nav-button {
  padding: 10px 18px;
  border: none;
  background-color: black;
  color: orange;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.accessories-nav-button:hover,
.accessories-nav-button.active {
  background-color: orange;
  color: black;
}

.accessories-search {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 200px;
}

.accessories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}


.accessories-card {
  background: wheat;
  border-radius: 16px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: transform 0.3s ease;
}

.accessories-card:hover {
  transform: translateY(-8px);
}

.accessories-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.accessories-card h3 {
  font-size: 1.2rem;
  margin: 12px 0 8px;
  color: black;
}

.accessories-card .price {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.accessory-category {
  font-size: 0.9rem;
  color: #777;
}

.accessories-card button {
  padding: 10px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.accessories-card button:hover {
  background: black;
  color: orange;
}

